/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
   font-weight: lighter;
   font-family: helvetica;
 }

 ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=text]:focus,
input[type="password"]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

button,
input[type="submit"] {
  cursor: pointer;
}

button{
  text-align: center;
  border-radius: 2px;
  border: 1px solid;
  vertical-align: middle;
  cursor: pointer;
  font-family: helvetica;
  padding: 10px 20px;
}

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

.form{
  box-sizing: border-box;
  width: 350px;
  align-content: center;
  background-color: white;
}

.form-input{
  border-color: #ffb400;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 14px;
  background-color: white;


  border-radius: 2px;
  border: 1px solid #cccccc;

  height: 40px;
  margin: 10px 0px;
  padding: 6px;
  display: inline-block;
  width: 100%;
}

.signup_button, .login_button{
  background-color: #ff7e82;
  border-color: #ff7e82;
  border-bottom-color: #fa0008;
  color: white;
  font-size: 16px;

  height: 45px;
  margin: 10px 0px 5px 0px;
  border: 1px;
  padding: 5px;
  display: inline-block;
  width: 100%;
  letter-spacing: 1px;

}

.signup_button:hover, .login_button:hover{
  background-color: #ffa4a7;
}

.nav_header{
  display: flex;
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  box-shadow: 0 -8px 25px grey;
    z-index: 100;
}

.nav_header:hover{
  background-color: rgba(255, 255, 255, 0.8);
}


.navbar{
  margin: 10px auto;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.0);
  color: #666666;

}

.nav-bar-buttons, .header-group{
  float: right;
}

.logo{
  float:left;
  width: 90px;
  letter-spacing: 1px;
  border: 1px solid #4d4d4d;

}

.login_nav_button, .signup_nav_button, .current_user_button{
  width: 80px;
  letter-spacing: 1px;
  border: 1px solid #4d4d4d;

}

.login_nav_button:hover,
.signup_nav_button:hover{
  background-color: #ff7e82;
  color: white;
}


.login_nav_button{
  margin: 0 10px;
}


.user-menu{
  display: none;
  position: absolute;
  right: 0px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  overflow: hidden;
}

.header-group{
  position: relative;
  z-index: 100;
}


li:hover .user-menu {
  display: block;
  background-color: white;
  font-size: 14px;
  position: absolute;
  z-index: 100;
}

.user-menu > li{
  border-top: 1px solid lightgrey;
  padding: 10px;
  background-color: white;
  width: 200px;
  font-size: 14px;
  font-family: helvetica;
  text-align: center;
  right: auto;
}


.user-menu > li:hover {
  background: #eee;
  font-weight: bold;
    cursor: pointer;
}



.map{
  margin-top: 200px;
  float: right;
  position: fixed;
  width: 40%;
  height: 620px;
  margin: 60px 0 0 0 ;
  z-index: 10;

}



.rootBackground {
  background: url(http://cdn.pcwallart.com/images/mountain-road-side-view-wallpaper-4.jpg);
  background-size: 100% 700px;
  background-repeat: no-repeat;
}

.rootMessage{
  display: block;
  color: 	#FFFAFA;
  font-weight: lighter;
  text-align: center;
}

.rootMessage h1 {
  margin: 0 auto;
  display: block;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 4px;
}

.rootMessage h3 {
  display: block;
  font-size: 36px;
  font-weight: lighter;
  padding: 380px 0 0 0;
  letter-spacing: 2px;
  margin: 0;
}

.rootFeatures{
  height: 100%;
  text-align: center;
  letter-spacing: 2px;
}

.rootFeatures h1 {
  display: block;
  margin: 230px 0 0 0;
  font-size: 40px;
  color: darkgrey;
  font-weight: bold;
  padding: 0 0 20px 0;
  border-bottom: 1px solid lightgrey;
}

.rootCities{
  margin: 0 auto;
  display: block;
  width: 1140px;
}

.root-featured-cities{
  display: flex;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  float: left;
  align-items: center;
  justify-content: center;
  margin: 40px 40px;
  border-radius: 2%;
  cursor: pointer;
}

.featured-cities-header{
}

.featured-cities-header h2 {
  font-weight: 400;
  color: white;
  width: 290px;
  background: rgba(255,126,130,0.7);
  padding: 5px;
  font-size: 24px;
  letter-spacing: 3px;
}

.featured-cities-header h2:hover{
  background: rgba(255,126,130,0.9);
}

.search-bar-container{
  float: left;
  margin: 0 0 0 100px;
}

.search-location-bar{
  height: 40px;
  width: 375px;
  padding: 0 10px;
  background-color: rgba(240, 240, 240, 0.5);
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 3px;
  box-shadow: 0px 1px 0px lightgrey;
}


.car-detail-container{
  padding: 60px 0;
}


.car-text-details{
  margin: 0 auto;
  width: 700px;
  padding: 20px 0 0 0;
}

.car-text-details h1 {
  font-size: 42px;
  color: black;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.car-details h2, .carReviews h2 {
  display: block;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: bold;
}

.car-details{
  font-size: 18px;
}

.carYear, .carPrice, .carColor, .carStyle, .carDesc{
  margin: 0 0 20px 15px;
  text-transform: lowercase;
}

.carImage{
  margin: 0 auto;
  width: auto;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.car_index{
  padding: 100px 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 100%;
}

.car_index_item{
  box-sizing: border-box;
  display: inline-block;
  height: 290px;
}

.car_image_container{
  max-width: 300px;
  max-height: 200px;
  border: 1px solid lightgrey;
  margin: 0 25px;
  overflow: hidden;
}


.car_image {
  height: 200px;
}

.car_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.car_image:hover img {
  opacity: 0.8;
}

.car_info{
  position: relative;
  text-align: center;
  width: 300px;
}
